In [2]:
import pandas as pd

In [3]:
songs = pd.read_csv('songs.csv')
members = pd.read_csv('members.csv')
test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')

In [4]:
songs.head()

,song_id,song_length,genre_ids,artist_name,composer,lyricist,language
0,CXoTN1eb7AI+DntdU1vbcwGRV4SCIDxZu+YD8JP8r4E=,247640,465,張信哲 (Jeff Chang),董貞,何啟弘,3.0
1,o0kFgae9QtnYgRkVPqLJwa05zIhRlUjfF7O1tDw0ZDU=,197328,444,BLACKPINK,TEDDY| FUTURE BOUNCE| Bekuh BOOM,TEDDY,31.0
2,DwVvVurfpuz+XPuFvucclVQEyPqcpUkHR0ne1RQzPs0=,231781,465,SUPER JUNIOR,NaN,NaN,31.0
3,dKMBWoZyScdxSkihKG+Vf47nc18N9q4m58+b4e7dSSE=,273554,465,S.H.E,湯小康,徐世珍,3.0
4,W3bqWd3T+VeHFzHAUfARgW9AvVRaF4N5Yzm4Mr6Eo/o=,140329,726,貴族精選,Traditional,Traditional,52.0

In [5]:
members.head()

,msno,city,bd,gender,registered_via,registration_init_time,expiration_date
0,XQxgAYj3klVKjR3oxPPXYYFp4soD4TuBghkhMTD4oTw=,1,0,NaN,7,20110820,20170920
1,UizsfmJb9mV54qE9hCYyU07Va97c0lCRLEQX3ae+ztM=,1,0,NaN,7,20150628,20170622
2,D8nEhsIOBSoE6VthTaqDX8U6lqjJ7dLdr72mOyLya2A=,1,0,NaN,4,20160411,20170712
3,mCuD+tZ1hERA/o5GPqk38e041J8ZsBaLcu7nGoIIvhI=,1,0,NaN,9,20150906,20150907
4,q4HRBfVSssAFS9iRfxWrohxuk9kCYMKjHOEagUMV6rQ=,1,0,NaN,4,20170126,20170613

In [6]:
test.head()

,id,msno,song_id,source_system_tab,source_screen_name,source_type
0,0,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,WmHKgKMlp1lQMecNdNvDMkvIycZYHnFwDT72I5sIssc=,my library,Local playlist more,local-library
1,1,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,y/rsZ9DC7FwK5F2PK2D5mj+aOBUJAjuu3dZ14NgE0vM=,my library,Local playlist more,local-library
2,2,/uQAlrAkaczV+nWCd2sPF2ekvXPRipV7q0l+gbLuxjw=,8eZLFOdGVdXBSqoAv5nsLigeH2BvKXzTQYtUM53I0k4=,discover,NaN,song-based-playlist
3,3,1a6oo/iXKatxQx4eS9zTVD+KlSVaAFbTIqVvwLC1Y0k=,ztCf8thYsS4YN3GcIL/bvoxLm/T5mYBVKOO4C9NiVfQ=,radio,Radio,radio
4,4,1a6oo/iXKatxQx4eS9zTVD+KlSVaAFbTIqVvwLC1Y0k=,MKVMpslKcQhMaFEgcEQhEfi5+RZhMYlU3eRDpySrH8Y=,radio,Radio,radio

In [7]:
train.head()

,msno,song_id,source_system_tab,source_screen_name,source_type,target
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1
2,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,my library,Local playlist more,local-playlist,1
3,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,2A87tzfnJTSWqD7gIZHisolhe4DMdzkbd6LzO1KHjNs=,my library,Local playlist more,local-playlist,1
4,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,3qm6XTZ6MOCU11x8FIVbAGH5l5uMkT3/ZalWG1oo2Gc=,explore,Explore,online-playlist,1

In [8]:
#Merge the test data by song and song_id
songs_test = pd.merge(test, songs,on="song_id", how="left")
songs_test.head()

,id,msno,song_id,source_system_tab,source_screen_name,source_type,song_length,genre_ids,artist_name,composer,lyricist,language
0,0,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,WmHKgKMlp1lQMecNdNvDMkvIycZYHnFwDT72I5sIssc=,my library,Local playlist more,local-library,224130.0,458,梁文音 (Rachel Liang),Qi Zheng Zhang,NaN,3.0
1,1,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,y/rsZ9DC7FwK5F2PK2D5mj+aOBUJAjuu3dZ14NgE0vM=,my library,Local playlist more,local-library,320470.0,465,林俊傑 (JJ Lin),林俊傑,孫燕姿/易家揚,3.0
2,2,/uQAlrAkaczV+nWCd2sPF2ekvXPRipV7q0l+gbLuxjw=,8eZLFOdGVdXBSqoAv5nsLigeH2BvKXzTQYtUM53I0k4=,discover,NaN,song-based-playlist,315899.0,2022,Yu Takahashi (高橋優),Yu Takahashi,Yu Takahashi,17.0
3,3,1a6oo/iXKatxQx4eS9zTVD+KlSVaAFbTIqVvwLC1Y0k=,ztCf8thYsS4YN3GcIL/bvoxLm/T5mYBVKOO4C9NiVfQ=,radio,Radio,radio,285210.0,465,U2,The Edge| Adam Clayton| Larry Mullen| Jr.,NaN,52.0
4,4,1a6oo/iXKatxQx4eS9zTVD+KlSVaAFbTIqVvwLC1Y0k=,MKVMpslKcQhMaFEgcEQhEfi5+RZhMYlU3eRDpySrH8Y=,radio,Radio,radio,197590.0,873,Yoga Mr Sound,Neuromancer,NaN,-1.0

In [9]:
songs_test.describe()

                 id   song_length      language
count  2.556790e+06  2.556765e+06  2.556748e+06
mean   1.278394e+06  2.438435e+05  1.996903e+01
std    7.380818e+05  7.335050e+04  2.161928e+01
min    0.000000e+00  1.486000e+03 -1.000000e+00
25%    6.391972e+05  2.132520e+05  3.000000e+00
50%    1.278394e+06  2.392810e+05  3.000000e+00
75%    1.917592e+06  2.704190e+05  5.200000e+01
max    2.556789e+06  7.356917e+06  5.900000e+01

In [10]:
#Merge the test data by msno
songs_test_members = pd.merge(songs_test, members, on="msno", how="left")
songs_test_members.head()

,id,msno,song_id,source_system_tab,source_screen_name,source_type,song_length,genre_ids,artist_name,composer,lyricist,language,city,bd,gender,registered_via,registration_init_time,expiration_date
0,0,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,WmHKgKMlp1lQMecNdNvDMkvIycZYHnFwDT72I5sIssc=,my library,Local playlist more,local-library,224130.0,458,梁文音 (Rachel Liang),Qi Zheng Zhang,NaN,3.0,1,0,NaN,7,20160219,20170918
1,1,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,y/rsZ9DC7FwK5F2PK2D5mj+aOBUJAjuu3dZ14NgE0vM=,my library,Local playlist more,local-library,320470.0,465,林俊傑 (JJ Lin),林俊傑,孫燕姿/易家揚,3.0,1,0,NaN,7,20160219,20170918
2,2,/uQAlrAkaczV+nWCd2sPF2ekvXPRipV7q0l+gbLuxjw=,8eZLFOdGVdXBSqoAv5nsLigeH2BvKXzTQYtUM53I0k4=,discover,NaN,song-based-playlist,315899.0,2022,Yu Takahashi (高橋優),Yu Takahashi,Yu Takahashi,17.0,1,0,NaN,4,20161117,20161124
3,3,1a6oo/iXKatxQx4eS9zTVD+KlSVaAFbTIqVvwLC1Y0k=,ztCf8thYsS4YN3GcIL/bvoxLm/T5mYBVKOO4C9NiVfQ=,radio,Radio,radio,285210.0,465,U2,The Edge| Adam Clayton| Larry Mullen| Jr.,NaN,52.0,3,30,male,9,20070725,20170430
4,4,1a6oo/iXKatxQx4eS9zTVD+KlSVaAFbTIqVvwLC1Y0k=,MKVMpslKcQhMaFEgcEQhEfi5+RZhMYlU3eRDpySrH8Y=,radio,Radio,radio,197590.0,873,Yoga Mr Sound,Neuromancer,NaN,-1.0,3,30,male,9,20070725,20170430

In [11]:
Test=songs_test_members.copy()

In [12]:
# Keep some of the columns that will be used
Test = Test[["id","source_system_tab","source_screen_name","source_type","song_length", "genre_ids","artist_name","composer","lyricist", "language", "city", "bd", "gender", "registered_via"]]
Test.head()

,id,source_system_tab,source_screen_name,source_type,song_length,genre_ids,artist_name,composer,lyricist,language,city,bd,gender,registered_via
0,0,my library,Local playlist more,local-library,224130.0,458,梁文音 (Rachel Liang),Qi Zheng Zhang,NaN,3.0,1,0,NaN,7
1,1,my library,Local playlist more,local-library,320470.0,465,林俊傑 (JJ Lin),林俊傑,孫燕姿/易家揚,3.0,1,0,NaN,7
2,2,discover,NaN,song-based-playlist,315899.0,2022,Yu Takahashi (高橋優),Yu Takahashi,Yu Takahashi,17.0,1,0,NaN,4
3,3,radio,Radio,radio,285210.0,465,U2,The Edge| Adam Clayton| Larry Mullen| Jr.,NaN,52.0,3,30,male,9
4,4,radio,Radio,radio,197590.0,873,Yoga Mr Sound,Neuromancer,NaN,-1.0,3,30,male,9

In [13]:
#Switch the bd to name age
Test.rename(columns={'bd': 'age'}, inplace=True)

In [14]:
#Show the rows of original and merged Test set
print(f"The merged test_final DataFrame : {Test.shape[0]}")
print(f"The original test DataFrame (not-merged) : {test.shape[0]}")

The merged test_final DataFrame : 2556790
The original test DataFrame (not-merged) : 2556790

In [15]:
#The same way applying to the train dataset
songs_train = pd.merge(train,songs, on="song_id", how="left")
songs_train_members = pd.merge(songs_train, members, on="msno", how="left")
Train= songs_train_members.copy()
Train = Train[["source_system_tab","source_screen_name","source_type","song_length", "genre_ids","artist_name","composer","lyricist", "language", "city", "bd", "gender", "registered_via", "target"]]
Train.rename(columns={'bd': 'age'}, inplace=True)

In [16]:
Train.head()

,source_system_tab,source_screen_name,source_type,song_length,genre_ids,artist_name,composer,lyricist,language,city,age,gender,registered_via,target
0,explore,Explore,online-playlist,206471.0,359,Bastille,Dan Smith| Mark Crew,NaN,52.0,1,0,NaN,7,1
1,my library,Local playlist more,local-playlist,284584.0,1259,Various Artists,NaN,NaN,52.0,13,24,female,9,1
2,my library,Local playlist more,local-playlist,225396.0,1259,Nas,N. Jones、W. Adams、J. Lordan、D. Ingle,NaN,52.0,13,24,female,9,1
3,my library,Local playlist more,local-playlist,255512.0,1019,Soundway,Kwadwo Donkoh,NaN,-1.0,13,24,female,9,1
4,explore,Explore,online-playlist,187802.0,1011,Brett Young,Brett Young| Kelly Archer| Justin Ebach,NaN,52.0,1,0,NaN,7,1

In [17]:
print(f"The merged train_final DataFrame : {train.shape[0]}")
print(f"The original train DataFrame (not-merged) : {Train.shape[0]}")

The merged train_final DataFrame : 7377418
The original train DataFrame (not-merged) : 7377418

In [18]:
# Function to calculate missing values by column
def missing_values_check(df):
        # Total missing values
        missing = df.isnull().sum()
        
        # Percentage of missing values
        missing_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        missing_output = pd.concat([missing, missing_percent], axis=1)
        
        # Rename the columns
        missing_output= missing_output.rename(columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        missing_output = missing_output[ missing_output.iloc[:,1] != 0].sort_values('% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n""There are " + str(missing_output.shape[0]) +" columns that have missing values.")
        
        # Return the dataframe with missing information
        return missing_output

In [19]:
missing_values_check(Test)

Your selected dataframe has 14 columns.
There are 10 columns that have missing values.

                    Missing Values  % of Total Values
lyricist                   1224744               47.9
gender                     1052224               41.2
composer                    619304               24.2
source_screen_name          162883                6.4
genre_ids                    42110                1.6
source_system_tab             8442                0.3
source_type                   7297                0.3
language                        42                0.0
song_length                     25                0.0
artist_name                     25                0.0

In [20]:
missing_values_check(Train)

Your selected dataframe has 14 columns.
There are 10 columns that have missing values.

                    Missing Values  % of Total Values
lyricist                   3178798               43.1
gender                     2961479               40.1
composer                   1675706               22.7
source_screen_name          414804                5.6
genre_ids                   118455                1.6
source_system_tab            24849                0.3
source_type                  21539                0.3
language                       150                0.0
song_length                    114                0.0
artist_name                    114                0.0

In [21]:
#Missing Value of Gender
print(Train["gender"].unique())
print(Test["gender"].unique())

[nan 'female' 'male']
[nan 'male' 'female']

In [22]:
#Fill NaN with "Unknown"
Train["gender"].fillna("Unknown",inplace=True)
Test["gender"].fillna("Unknown",inplace=True)

In [23]:
print(Train["composer"].unique())
print(Test["composer"].unique())

['Dan Smith| Mark Crew' nan 'N. Jones、W. Adams、J. Lordan、D. Ingle' ...
 'Blake Lewis| Matt Lange' '飛天' 'Wallux| F.Weyer']
['Qi Zheng Zhang' '林俊傑' 'Yu Takahashi' ... 'D. Way| J. Wright'
 'Noel Regney| Gloria Shayne'
 'Colson Baker pka "MGK" for EST| E. Johnson| B. Allen']

In [24]:
print(Train[Train["composer"] == "Composer Unknown"]["composer"].count())
print(Test[Test["composer"] == "Composer Unknown"]["composer"].count())
print(Train[Train["composer"] == "Unknown"]["composer"].count())
print(Test[Test["composer"] == "Unknown"]["composer"].count())

3
5
405
221

In [25]:
# Fill NaN with "Unknown"
Train["composer"].fillna("Unknown",inplace=True)
Test["composer"].fillna("Unknown",inplace=True)

In [26]:
# Change "Composer Unknown" into "Unknown"
Train["composer"].replace("Composer Unknown","Unknown",inplace=True)
Test["composer"].replace("Composer Unknown","Unknown",inplace=True)

In [27]:
print(Train["source_screen_name"].unique())
print(Test["source_screen_name"].unique())
print(set(list(Train["source_screen_name"].unique())) ^ set(list(Test["source_screen_name"].unique())))

['Explore' 'Local playlist more' nan 'My library' 'Online playlist more'
 'Album more' 'Discover Feature' 'Unknown' 'Discover Chart' 'Radio'
 'Artist more' 'Search' 'Others profile more' 'Search Trends'
 'Discover Genre' 'My library_Search' 'Search Home' 'Discover New'
 'Self profile more' 'Concert' 'Payment']
['Local playlist more' nan 'Radio' 'Online playlist more' 'Artist more'
 'Discover Genre' 'Album more' 'Discover Chart' 'Discover Feature'
 'Search' 'Unknown' 'Explore' 'Others profile more' 'My library'
 'My library_Search' 'Search Trends' 'Discover New' 'Search Home'
 'Payment' 'Self profile more' 'People local' 'Concert' 'People global']
{'People global', 'People local'}

In [28]:
# Fill NaN with "Unknown"
Train["source_screen_name"].fillna("Unknown",inplace=True)
Test["source_screen_name"].fillna("Unknown",inplace=True)

In [29]:
# Change "people local or global" into "Unknown"
Train["source_screen_name"].replace("People local","Unknown",inplace=True)
Test["source_screen_name"].replace("People global","Unknown",inplace=True)

In [31]:
# Also fill NaN with Unknown or 0 for Source_type/Source System Tab/Language/Artist Name
Train["source_type"].fillna("Unknown",inplace=True)
Test["source_type"].fillna("Unknown",inplace=True)
Train["source_system_tab"].fillna("Unknown",inplace=True)
Test["source_system_tab"].fillna("Unknown",inplace=True)
Train["language"].fillna(0,inplace=True)
Test["language"].fillna(0,inplace=True)
Train["artist_name"].fillna("Unknown",inplace=True)
Test["artist_name"].fillna("Unknown",inplace=True)

In [32]:
# Use test mean value to fill the NaN for song_length
mean_song_length = Train["song_length"].mean()
Train["song_length"].fillna(mean_song_length,inplace=True)
Test["song_length"].fillna(mean_song_length,inplace=True)

In [33]:
#Gener has "|" cell, we take first on style if existing "|".Others fill NaN with 0
Train["genre_ids"].fillna(0,inplace=True)
Test["genre_ids"].fillna(0,inplace=True)
def split_genre(ids):
    temp = ids.split("|")
    return(temp[0])
Train["genre_ids"] = Train["genre_ids"].apply(lambda ids : split_genre(str(ids)))
Test["genre_ids"] = Test["genre_ids"].apply(lambda ids : split_genre(str(ids)))

In [35]:
#Delete Lyricist because of the over 50% missing rate.
Traindata = Train[["source_system_tab","source_screen_name","source_type","song_length", "genre_ids","artist_name","composer", "language", "city", "age", "gender", "registered_via", "target"]]
Testdata = Test[["source_system_tab","source_screen_name","source_type","song_length", "genre_ids","artist_name","composer", "language", "city", "age", "gender", "registered_via"]]

In [36]:
missing_values_check(Traindata)

Your selected dataframe has 13 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [37]:
missing_values_check(Testdata)

Your selected dataframe has 12 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [38]:
#Export final clean files to CSV
Traindata.to_csv("Traindata.csv",index=False)
Testdata.to_csv("Testdata.csv",index=False)